@page "/portada"
<PageTitle>Portada</PageTitle>

<h3>Portada del trabajo</h3>

<img src="img/ITLA.png" width="200px" height="auto">

<div class="container-lg">
    <h3>Jose Manuel Santillan</h3>
    <br>
    <h3>Matricula: 20231156</h3>
    <br>
    <h3>Titulo: Pagina web de courier</h3>
    <br>
    <h3>Fecha: 4/18/2025</h3>
</div>



