.contenedor-pagina {
    min-height: 100vh;
    background: #131313;
}

.caja-al-lado-de-otra {
    display: flex;
    position: absolute;
    left: 20px;
    top: 30px;
    
}

.pre-alerta {
    margin-right: 30px;

}

    .pre-alerta span {
        color: #cfcfcf;
    }

.boton-crearPrealerta {
    cursor: pointer;
    
    
}

.position-table {
    position: absolute;
    top: 100px;
}

       

