.background-container {
    height: 100vh;
    background:#131313;
}

.form-container {
    margin-top:100px;
    padding:20px 15px 15px 15px;
    width:540px;
    height:330px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: #fff;
}
    
h3, input {
   color: #000;
   
}

h3{
    text-align:center;
}


.linkCrearCuenta-container {
    margin-top: 10px;
    color: #000;
    float: right;
}

.linkcrear{
    color:#000;
}

.linkcrear:hover{
    color: #1641cf;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}










